include includes/helper

!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    title
      block title
        = locals.name
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/jquery.fancybox.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic')
    script(src="js/jquery.min.js")
    script(src="js/jquery.fancybox.pack.js")
    script(src="js/jquery.touchmouse.js")
    script(src="js/jquery.lazyload.js")
    script(src="js/three.min.js")
    script(src="js/snake.js")
    block styles
    block scripts
  body
    #header-wrap
      header#site-header
        a(href='/')#site-link
          h1#site-logo thomas-wolter.de
        nav#main-nav
          a.main-nav-item(class=get_link_selected_status('index.html'), href='/') HOME
          a.main-nav-item(class=get_link_selected_status('rubik'), href=get_language_specific_page_name('rubik_notation')) RUBIK'S SNAKE
          a.main-nav-item(class=get_link_selected_status('atom'), href=get_language_specific_page_name('atom')) ATOMPUZZLE
          //- #language-selector
          //-   a(href=switch_page_name_language())
          //-     - if (cur_lang === 'en')
          //-         img(src='img/flag_de.png').flag
          //-     - else
          //-         img(src='img/flag_en.png').flag
    #sub-nav-wrap
      nav#sub-nav
        block subnav
    #content(role='main')
      block content

    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40512852-1']);
      _gaq.push(['_setDomainName', 'thomas-wolter.de']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    .clear
    //- footer
    //-   div.inner
    //-     block footer
    //-       p &copy; #{ new Date().getFullYear() } #{ locals.owner }
