!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    title
      block title
        = locals.name
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/jquery.fancybox.css')
    script(src="http://use.edgefonts.net/droid-sans.js")
    script(src="js/jquery.min.js")
    script(src="js/jquery.fancybox.pack.js")
    script(src="js/jquery.touchmouse.js")
    script(src="js/three.min.js")
    script(src="js/snake.js")
    block styles
    block scripts
  body
    header
      div.inner
        a(href='/')
          img(src='img/logo3.png')
          h1 thomas-wolter.de
      nav.bottom-seperator
        .main-navigation
          a(href='/', class="#{page.filename === "index.html" ? "selected" : ""}") HOME
          a(href='rubik_notation_de.html', class="#{page.filename.indexOf('rubik') !== -1 ? "selected" : ""}") RUBIK'S SNAKE
          a(href='atom_de.html', class="#{page.filename.indexOf('atom') !== -1 ? "selected" : ""}") ATOMPUZZLE
      nav
        .sub-navigation
          block subnav
    #content
      block content
        h2 Welcome to zombocom!
    .clear
    footer
      div.inner
        block footer
          p &copy; #{ new Date().getFullYear() } #{ locals.owner }
