extends layout

block subnav
  a.sub-nav-item(class=get_link_selected_status('notation'), href=get_language_specific_page_name('rubik_notation')) notation
  &#124;
  a.sub-nav-item(class=get_link_selected_status('easy'), href=get_language_specific_page_name('rubik_easy')) #{lookup_text('sub_nav_rubik_easy')}
  &#124;
  a.sub-nav-item(class=get_link_selected_status('hard'), href=get_language_specific_page_name('rubik_hard')) schwere figuren
  &#124;
  a.sub-nav-item(class=get_link_selected_status('manuals'), href=get_language_specific_page_name('rubik_manuals')) aus anleitungen
  &#124;
  a.sub-nav-item(class=get_link_selected_status('fansfriends'), href=get_language_specific_page_name('rubik_fansfriends')) fans & friends
  &#124;
  a.sub-nav-item(class=get_link_selected_status('victorsworld'), href=get_language_specific_page_name('rubik_victorsworld')) victor's welt
  &#124;
  a.sub-nav-item(class=get_link_selected_status('player'), href=get_language_specific_page_name('rubik_player')) player
  
