extends layout

block subnav
  a(href=get_language_specific_page_name('rubik_notation'), class=get_link_selected_status('notation')) notation
  a(href=get_language_specific_page_name('rubik_easy'), class=get_link_selected_status('easy')) #{lookup_text('sub_nav_rubik_easy')}
  a(href=get_language_specific_page_name('rubik_hard'), class=get_link_selected_status('hard')) schwere figuren
  a(href=get_language_specific_page_name('rubik_manuals'), class=get_link_selected_status('manuals')) aus anleitungen
  a(href=get_language_specific_page_name('rubik_fansfriends'), class=get_link_selected_status('fansfriends')) fans & friends
  a(href=get_language_specific_page_name('rubik_victorsworld'), class=get_link_selected_status('victorsworld')) victor's welt
  a(href=get_language_specific_page_name('rubik_player'), class=get_link_selected_status('player')) player
  