extends layout

block subnav
  a.sub-nav-item(class=get_link_selected_status('easy'), href=get_language_specific_page_name('rubik_easy')) #{lookup_text('sub_nav_rubik_easy')}
  &#124;
  a.sub-nav-item(class=get_link_selected_status('hard'), href=get_language_specific_page_name('rubik_hard')) #{lookup_text('sub_nav_rubik_hard')}
  &#124;
  a.sub-nav-item(class=get_link_selected_status('manuals'), href=get_language_specific_page_name('rubik_manuals')) #{lookup_text('sub_nav_rubik_manuals')}
  &#124;
  a.sub-nav-item(class=get_link_selected_status('fansfriends'), href=get_language_specific_page_name('rubik_fansfriends')) #{lookup_text('sub_nav_rubik_fansfriends')}
  &#124;
  a.sub-nav-item(class=get_link_selected_status('victorsworld'), href=get_language_specific_page_name('rubik_victorsworld')) #{lookup_text('sub_nav_rubik_victorsworld')}
  &#124;
  a.sub-nav-item(class=get_link_selected_status('notation'), href=get_language_specific_page_name('rubik_notation')) #{lookup_text('sub_nav_rubik_notation')}
  &#124;
  a.sub-nav-item(class=get_link_selected_status('player'), href=get_language_specific_page_name('rubik_player')) #{lookup_text('sub_nav_rubik_player')}
  