.figure 
  p.title #{figure.title}
  a.fancybox(href="#3dviewer",data=figure.data,rotation=figure.rotation,title=figure.title)
    img(src="img/"+page.metadata.img_root+figure.filename,alt=figure.title)
  - var breakable = figure.data.replace(/-/g,'-&#8203;')
  p.notation #{breakable}